/* Disable Selection */

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
  background-color: #66ffc2;
  /* background-color: rgb(49, 157, 186); */
  /* background-color: rgb(200, 200, 255); */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  position: absolute;
  gap: 40px;
  font-family: monospace;
}

#title {
  font-size: 70px;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

#mainBody {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#pad {
  width: 540px;
  height: 540px;
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* margin-right: 500px; */
}

#box {
  width: 14.3635px;
  height: 14.3635px;
  border: 1px solid grey;
  
}

#gridSize {
  width: 50px;
}

#gridSizeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: 'Fredoka One', cursive;
}

#gridSizeValue {
  margin: 0;
}

#leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#colorSelectors {
  display: flex;
  gap: 10px;
  /* height: 200px; */
}

#redSlideCont {
  display: flex;
  flex-direction: column;
}

/* Color Picker Styles */

#colorDisplay {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #e9e9e9a9,
              3px 3px 7px #e9e9e9a9;
  margin-bottom: 60px;
  /* position: absolute; */
}

#redRange {
  background-color: red;
  transform: rotate(90deg);
  width: 100px;
}

#greenRange {
  background-color: green;
  transform: rotate(90deg);
  width: 100px;
}

#blueRange {
  background-color: blue;
  transform: rotate(90deg);
  width: 100px;
}

/* Chrome, Safari, Edge */
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#rainbow-text {
  background-image: linear-gradient(
    to left, violet, indigo, blue,
    green, yellow, orange, red
  );
  width: 300px; 
  height: 50px;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Itim";
  font-size: 30px;
  margin: 0;
}


/* Grid Slider Style */

.slidecontainer {
  width: 100%;
}

/* The slider itself */

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 250px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1; /* fully shown on mouse over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to 
override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 25px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 25px;
}

/* Button Custom Design */

#pageReload, #eraser, #opacity {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
}

#pageReload:focus, #eraser:focus, #opacity:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#pageReload:hover, #eraser:hover, #opacity:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#pageReload:active, #eraser:active, #opacity:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}